<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javacafeapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.javacafeapp.aboutUs"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjDCZ8kUvlUHcKSXtjUVrmyI1Nc3Pmq38" />

        <activity
            android:name="com.example.javacafeapp.findUs"
            android:exported="false"
            android:label="@string/title_activity_find_us" />
        <activity
            android:name="com.example.javacafeapp.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.javacafeapp.MainActivity"
            android:exported="false" />
        <activity android:name="com.example.javacafeapp.LatteActivity" />
        <activity android:name="com.example.javacafeapp.SmoothieActivity" />
        <activity android:name="com.example.javacafeapp.VanillaActivity" />
        <activity android:name="com.example.javacafeapp.CappucinnoActivity" />
        <activity android:name="com.example.javacafeapp.ThaiTeaActivity" />
        <activity android:name="com.example.javacafeapp.TeaActivity" />
        <activity android:name="com.example.javacafeapp.BubbleTeaActivity" />
        <activity android:name="com.example.javacafeapp.MatchaActivity" />
        <activity android:name="com.example.javacafeapp.SummaryActivity" />
        <activity android:name="com.example.javacafeapp.InfoActivity" />
        <activity
            android:name="com.example.javacafeapp.RegistrationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.javacafeapp.Database.OrderProvider"
            android:authorities="com.example.javacafeapp"
            android:exported="false" />
    </application>

</manifest>